@import 'mixin';
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova/Proxima-Nova-Regular.otf)
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(../fonts/ProximaNova/Proxima-Nova-Bold.otf)
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url(../fonts/ProximaNova/Proxima-Nova-Light.otf)
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Proxima Nova Regular, sans-serif;
}

.wrapper {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-basis: 100%;
  background: #2f364a;
  font-size: 13px;
  &__menu{
    padding: 0;
    margin: 0;
    list-style: none;
    &_item{
      display: inline-block;
    }
  }

  &__link{
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: #69738c;
    margin-left: -4px;

    &:hover, &:focus{
      background: #15a4fa;
      color: white;
    }

    &-user{
      width: 157px;
      text-align: center;
      position: relative;
      &_style{
        position: absolute;
        left: 22px;
        top: 11px;
      }
    }
  }


}

.sidebar{
  flex:1;
  background: #1f2637;
  color: #4f5a6f;
  font-family: 'Proxima Nova Regular', serif;
  font-size: 13px;

  &__item{
    border-bottom: #19202e solid 6px;
    box-shadow: inset 0px -1px 0px 0px rgb(20,24,36),
    inset 0px 1px 0px 0px rgb(40,47,65);

    &:first-child{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 114px;
    }

    &:last-child{
      border-bottom: none;
      box-shadow: inset 0 1px 0 0 rgb(40,47,65);
      margin-bottom: 20px;
    }

  }

  &__btn{
    width: 160px;
    height: 44px;
    border: 0;
    border-radius: 5px;
    color: white;
    background: #f2795a;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
  }
}

.main-menu{
  list-style: none;
  margin: 0;
  padding: 0;//скрывает маркер
  &__link {
    display: block;
    padding: 13px 20px 13px 46px;
    text-decoration: none;
    color: #78829d;

    &:hover, &:focus {
      background: #15a4fa;
      color: white;
    }

    &_reading:before {
    }
  }
}

.category{
  margin: 0;
  padding: 0;//скрывает маркер

  &__link {
    display: block;
    padding: 13px 20px 13px 46px;
    text-decoration: none;
    color: #78829d;

    &:hover, &:focus {
      background: #15a4fa;
      color: white;
    }
  }
}

.history{
  padding: 20px 18px 0 46px;
  font-size: 12px;

  &__text{
    display: inline-block;
    margin-bottom: 10px;
    &_light{
      color: #677b92;
    }
  }
  &__time{
    font-family: 'Proxima Nova Light', sans-serif;
    color: #545d74;
    &:last-child{

    }
  }
}


.content{
  display: flex;
  flex-direction: column;
  flex: 6;
  background: #eef1f7;
  &__title{
    font-size: 22px;
    color: #444c63;
    padding: 27px 0 27px 20px;
    border-bottom: 1px solid #dadfea;
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgb(244,246,250);
    padding: 10px 20px;
    border-bottom: 1px solid #dadfea;
  }
}

.filter{
  padding: 0;
  margin: 0;
  list-style: none;
  &__item{
    display: inline-block;
  }

  &__link{
    display: block;
    text-decoration: none;
    color: #8c97b2;
    font-size: 12px;
    margin-right: 10px;
    padding: 6px 10px;
    text-align: center;
    border-radius: 18px;

    &:hover, &:focus{
      color: white;
      background: #97b3ce;
    }
  }
}

.search-form{
  &_style{
    border: 1px solid #c7cddb;
    border-radius: 20px;
    padding: 10px 50px 10px 18px;
    width: 398px;
    @include placeholder {
      color: #8c97b2;
    }
    &:focus{
      outline: 0;
      border: 1px solid #15a4fa;
      box-shadow: 0 0 5px 0 #15a4fa;
    }
  }
}

.library{
  flex-basis: 100%;
  background: white;
}

.footer{
  display: flex;
  justify-content: flex-end;
  background: #181e2c;
  &__btn{
    display: block;
    height: 38px;
    width: 51px;
    background: #1f2637;
    &:hover, &:focus{
      background: #15a4fa;
    }
  }
}