@import 'mixin';
@import "fa_scss/font-awesome";
@import "variables";

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova/Proxima-Nova-Regular.otf)
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(../fonts/ProximaNova/Proxima-Nova-Bold.otf)
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url(../fonts/ProximaNova/Proxima-Nova-Light.otf)
}

@font-face {
  font-family: 'FontAwesome';
  src: url(../fonts/FontAwesome.otf);
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Proxima Nova Regular, sans-serif;
}

.wrapper {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-basis: 100%;
  background: #2f364a;

  &__menu{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    &_item{
      display: inline-block;
    }
  }

  &__link{
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    margin-left: -4px;
    color: #69738c;
    &:hover, &:focus{
      background: #15a4fa;
      color: white;
    }

    &-user{
      width: 157px;
      text-align: center;
      position: relative;
      &_style{
        position: absolute;
        left: 22px;
        top: 11px;
      }

      &::after{
        font-family: FontAwesome, sans-serif;
        font-size: 14px;
        position: absolute;
        right: 42px;
        content: '\f13a';
      }
    }
  }

  &__btn-user{
    border: 0;
    height: 52px;
    width: 157px;
    background-color: #2f364a;
    margin-left: -3px;
    position: relative;
    //top: 2px;
    color: #69738c;

    &-avatar{
      position: absolute;
      left: 19px;
      top: 11px;
    }

    &-text{
      font-size: 13px;
      margin-left: 22px;
    }

    &::after{
      font-family: FontAwesome, sans-serif;
      font-size: 14px;
      position: absolute;
      right: 15px;
      content: '\f13a';
    }

    &:hover, &:focus{
       background: #15a4fa;
       color: white;
       outline: 0;
      cursor: pointer;
     }
  }
}

.sidebar{
  flex:1;
  background: #1f2637;
  color: #4f5a6f;
  font-family: 'Proxima Nova Regular', serif;
  font-size: 13px;

  &__item{
    border-bottom: #19202e solid 6px;
    box-shadow: inset 0px -1px 0px 0px rgb(20,24,36),
    inset 0px 1px 0px 0px rgb(40,47,65);

    &:first-child{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 114px;
    }

    &:last-child{
      border-bottom: none;
      box-shadow: inset 0 1px 0 0 rgb(40,47,65);
      margin-bottom: 20px;
    }

  }

  &__btn{
    width: 160px;
    height: 44px;
    border: 0;
    border-radius: 5px;
    background: #f2795a;
    outline: 0;

    &__text{
      color: white;
      font-family: 'Proxima Nova Bold', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      &::before{
        font-family: FontAwesome, sans-serif;
        content: '+';
        font-size: 21px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        left: -3px;
        top: 2px;
      }
    }

    &:hover{
      cursor: pointer;
    }
  }

  .main-menu{
    padding: 0;
    margin: 0;
    list-style: none;

    &__item{
      &::before {
        font-family: FontAwesome, sans-serif;
        font-size: 14px;
        float: left;
        position: relative;
        top: 14px;
        padding-left: 22px;
        pointer-events: none
      }

      &:hover{
        &::before {
          color: white;
        }
      }
    }

    &__link{
      display: block;
      padding: 13px 20px 13px 46px;
      text-decoration: none;
      color: #78829d;

      &:hover{
        background: #15a4fa;
        color: white;
        cursor: pointer;
      }
    }
  }

  @for $i from 1 through 6 {
    .main-menu__item:nth-child(#{$i}) {
        &::before {
          content: nth($main-nav_icons, $i);
        }
      }
    }


  .category{
    padding: 0;
    margin: 0;
    list-style: none;

    &__item{
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        float: left;
        border-radius: 50%;
        position: relative;
        top: 18px;
        margin-left: 25px;
        pointer-events: none
      }
    }

    &__link {
      display: block;
      padding: 13px 20px 13px 46px;
      text-decoration: none;
      color: #78829d;

       &:hover{
         background: #15a4fa;
         color: white;
       }
    }
  }
  @for $i from 1 through 4{
    .category__item:nth-child(#{$i}) {
      &::before{
        background-color: nth($category-color, $i);
      }
    }
  }

  .history{
    padding: 20px 18px 0 46px;
    font-size: 12px;

    &__text{
      display: inline-block;
      margin-bottom: 10px;
      &_link{
        text-decoration: none;
        color: #677b92;
      }
    }
    &__time{
      font-family: 'Proxima Nova Light', sans-serif;
      color: #545d74;
    }

    &::before{
      font-family: FontAwesome, sans-serif;
      font-size: 14px;
      content: '\f017';
      position: absolute;
      float: left;
      left: 22px;
    }
  }
}




.content{
  display: flex;
  flex-direction: column;
  flex: 6;
  background: #eef1f7;
  &__title{
    font-size: 22px;
    color: #444c63;
    padding: 27px 0 27px 20px;
    border-bottom: 1px solid #dadfea;
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgb(244,246,250);
    padding: 10px 20px;
    border-bottom: 1px solid #dadfea;

    &_active{

    }
  }

  .filter{
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
      display: inline-block;
    }

    &__link{
      display: block;
      text-decoration: none;
      color: #8c97b2;
      font-size: 12px;
      margin-right: 10px;
      padding: 6px 10px;
      text-align: center;
      border-radius: 18px;

      &:hover, &_active{
        color: white;
        background: #97b3ce;
      }

      &:hover, &:focus{
        color: white;
        background: #97b3ce;
      }
    }
  }

  .search-form{
    &__icon{
      &::before{
        content: '\f002';
        font-family: FontAwesome, sans-serif;
        font-size: 20px;
        position: relative;
        left: 449px;
        top: 2px;
        color: #8c97b2;
      }
    }


    &_style{
      border: 1px solid #c7cddb;
      border-radius: 20px;
      padding: 10px 50px 10px 18px;
      width: 398px;
      color: #8c97b2;
      @include placeholder {
        color: #8c97b2;
      }

      &:focus{
        outline: 0;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0 0 5px 0 #15a4fa;
      }
    }
  }

  .library{
    flex-basis: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding:0 20px 20px 20px;

    &__book{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 30px;
      height: 350px;
      width: 200px;

      &-jacket{
        border-radius: 5px;
        width: 200px;
        height: 275px;
      }

      &-name{
        font-size: 16px;
        color: #444c63;
      }

      &-author{
        font-size: 12px;
        color: #6f7d95;
      }
    }
  }
}

.rating{
  display: flex;
  justify-content: flex-end;
  unicode-bidi: bidi-override;
  direction: rtl;

  &__star{
    font-size: 14px;
    color: #ffab00;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 3px;

    &:hover:before, &:hover ~ &:before{
      font-family: FontAwesome, sans-serif;
      content: '\f005';
    }
  }
}




.footer{
  display: flex;
  justify-content: flex-end;
  background: #181e2c;

  &__btn{
    border:0;
    height: 38px;
    width: 51px;
    background: #1f2637;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    color: #78829d;

    &:hover, &:focus {
      background: #15a4fa;
      color: white;
      cursor: pointer;
      outline: none;
    }
  }
}